#!/bin/bash

export PATH="{{ ansible_pull_venv_dir }}/bin:$PATH"
export ANSIBLE_CONFIG="{{ ansible_pull_cfg_file }}"
export ANSIBLE_PULL_INITIAL_FILE="{{ ansible_pull_initial_file }}"

exec {{ ansible_pull_command }} &> >(sudo tee -a {{ ansible_pull_logfile }} >/dev/null)
